---
layout: default
---

{% include header.html %}

<div class="intro h-[67vh] md:h-[78vh] flex items-end pb-10 md:pb-16">
    <h2 class="title-cover">I synthesize business objectives with user needs to design meaningful and impactful digital experiences.</h2>
</div>

<p class="hidden md:flex items-center gap-2 mb-12 title-mono">
    Case studies
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor"><path d="M24.59 16.59 17 24.17V4h-2v20.17l-7.59-7.58L6 18l10 10 10-10-1.41-1.41z"/></svg>
</p>

{% include case_studies.html %}
