
@font-face {
    font-family:"Overused Grotesk Light";
    src:url("OverusedGrotesk-VF.woff2") format("woff2"),url("OverusedGrotesk-VF.woff") format("woff"),url("OverusedGrotesk-VF.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        