---
layout: default
---

<div class="space-y-5 md:space-y-10 mx-auto">
    {% include breadcrump.html parent_title="Posts" parent_url="/posts" current=page.title %}
    
    <article class="max-w-3xl">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="w-full h-full object-cover my-5">
        
        <header class="mb-8">
            <h1 class="title-1 max-w-2xl">{{ page.title }}</h1>
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="text-neutral-500 title-mono">
                {{ page.date | date: "%B %d, %Y" }}
            </time>
        </header>

        <div class="prose prose-invert prose-primary">
            {{ content }}
        </div>
        <div class="mt-8 text-sm text-neutral-500">
            Filed under: {{ page.tags | join: ", " }}
        </div>
    </article>
</div>
